body{
    background-color: #9CAFB7;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;   
}

.imageTop{
    width: 100%;
    height: 200px;
}

.headimage{
    position: relative;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-bottom: 20px;
    
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav{
    background-color: #141414;
}

.navbar-nav{
    margin-left: auto;
}

.card{
    opacity: 80%;
}
.card-body{
    color: #222;
    background-color: #DAE3E8;
    font-size: 20px;
}


/* removes standard blue link*/
a.card,
a.card:hover {
  color: #222;
  text-decoration: none;
  padding: 5px;
}

a
 {
    color: #222;
    text-decoration: none;
}

a:hover{
    text-decoration-color: #3f3f3f;
}

h5{
    font-size: 20px;
    text-align: left;
}

h6{
    font-size: 15px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 30px;
    
}

h2{
    font-size: 20px;
}

h3{
    padding-bottom: 10px;
}

h4{
    font-size: 20px;
}

.col-sm-2{
    margin: 20px;
}

.col-8{
    margin-top: 20px;
}

.col-2{
    margin-top: 20px;
    align-content: right;
}

.col-3{
    margin-top: 20px;
    color: #222;
    text-decoration: none;
}
a.col-3,
a.col-3:hover {
  color: #222;
  text-decoration: none;
}

.firstProject{
    padding-left: 30px;
}

.postcard{
    background-color: #DAE3E8;
    opacity: 70%;
    padding: 10px;
    margin-bottom: 20px;
}

.contactcard{
    text-align: right;
    background-color: #DAE3E8;
    height: 50px;
}

