body{
    background-color: #9CAFB7;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;   
}

img{
    width: 100%;
    height: 200px;
}

.headimage{
    position: relative;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-bottom: 20px;
    
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav{
    background-color: #141414;
}

.navbar-nav{
    margin-left: auto;
}

.card{
    color: #9CAFB7;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 30px;
    
}

h2{
    font-size: 20px;
}

h3{
    padding-bottom: 10px;
}



.col-8{
    margin-top: 20px;
}

.col-2{
    margin-top: 20px;
    align-content: right;
}

.postcard{
    background-color: #DAE3E8;
    opacity: 70%;
    padding: 10px;
    margin-bottom: 20px;
}

.contactcard{
    text-align: right;
    background-color: #DAE3E8;
    height: 50px;
}

